<div class="rooftop-header-wrapper">
  <div class="rooftop-banner" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.2) 80%), url('../images/seb-rooftop.jpg');">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-1">
        <div class="rooftop-owner-info">
          <%= image_tag 'seb.jpg', class: "avatar-large" %>
          <div class="rooftop-info">
            <h1>Ruby</h1>
            <p>Shoreditch, London</p>
            <p>ratings</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="rooftop-reservation">
          <%= partial "reservation-form" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="rooftop-description-wrapper">
  <div class="rooftop-description">
    <h2>
      About this rooftop
    </h2>
    <p>
      Better than any PHP bar in London. This rooftop offers fantastic gem-themed cocktails with a wide pice range to suit any budget. With large sofa areas to relax in, it is a perfect destination for any group.
    </p>
  </div>
  <div class="rooftop-data">
    <i class="fa fa-glass" aria-hidden="true">  Type of drinks: Cocktails</i>
    <i class="fa fa-wifi" aria-hidden="true">  Free wifi</i>
    <i class="fa fa-subway" aria-hidden="true">   5 mins from Liverpool Street Station</i>
    <i class="fa fa-users" aria-hidden="true">  Max occupancy: 100</i>
  </div>
</div>
