/* Footer design */

#footer {
  background: rgba(70, 70, 70, 0.8);
  padding: 50px 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  ul {
    margin: 0;
    flex: 0 0 auto;
  }
  a {
    color: black;
    font-size: 30px;
    margin: 0 20px;
    transition: all 0.2s ease;
    &:hover {
    color: white;
    }
  }
}
